{% include base_path %}
<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg persist"><a href="/">Home</a></li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
            {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
          <li id="theme-toggle" class="masthead__menu-item persist tail">
            <a role="button" aria-labelledby="theme-icon"><i id="theme-icon" class="fa-solid fa-sun" aria-hidden="true" title="toggle theme"></i></a>
          </li>
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>

<style>
/* Override the greedy-nav behavior to show all items */
@media screen and (max-width: 768px) {
  /* Reduce spacing and font size for mobile */
  .masthead__menu-item {
    margin-left: 0.3rem !important;
    margin-right: 0.3rem !important;
  }
  
  .masthead__menu-item:first-child {
    margin-left: 0 !important;
  }
  
  .masthead__menu-item a {
    font-size: 0.8rem !important;
    padding: 0.25rem !important;
  }
  
  /* Ensure all menu items are visible */
  .greedy-nav .visible-links {
    display: flex !important;
    flex-wrap: nowrap !important;
    overflow-x: auto !important;
  }
  
  .greedy-nav .visible-links li {
    display: inline-block !important;
    visibility: visible !important;
  }
  
  /* Hide hamburger menu if all items fit */
  .greedy-nav button {
    display: none !important;
  }
}

/* Smaller screens need even more compact layout */
@media screen and (max-width: 480px) {
  .masthead__menu-item {
    margin-left: 0.2rem !important;
    margin-right: 0.2rem !important;
  }
  
  .masthead__menu-item a {
    font-size: 0.7rem !important;
    padding: 0.2rem !important;
  }
}
</style>
